@mixin flex-container($type, $direction, $wrap, $justify: center, $content: center, $items: center) {
  display: $type;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-content: $content;
  align-items: $items;
}
