@mixin flex-container($type,$direction,$wrap,$justify,$content,$items) {
  display: $type;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-content: $content;
  align-items: $items;
}
