form {
  margin: 0 0 0 20%;
  padding: 1em;
  width: 50%;
  position: relative;
  h1 {
    @include set-font($main-font-regular, $font-l);
    margin-bottom: 0.5em;
  }
  fieldset {
    margin: 0 auto;
  }
  button {
    margin-top: 1em;
  }
  label {
    @include flex-container(flex, row, wrap, space-between, space-between, space-between);
    margin: 0.25em 0;
    width: 5em;
  }
  input {
    display: block;
    margin: 1em 0;
    height: 2em;
  }
  input[type="radio"] {
    @include flex-container(flex, row, wrap, space-between, space-between, space-between);
    margin: -0.25em 0 0.25em 0.5em;
  }
}