header {
  padding: 1em;
  background-color: $background-color-dark;
  h1 {
    @include set-font($main-font-regular, $font-xxl, $text-color-light);
  }
  nav {
    padding-top: 0.5em;
    a {
      @include set-font($main-font-regular, $font-reg, $text-color-light);
      &:hover {
        color: $text-color-med;
      }
    }
  }
}