.icon-style {
  font-size: 100%;
  border-radius: 50%;
  padding: .3em;
  background-color: $background-color-dark;
}
// .icon-pinterest:before {
//   font-size: 150%;
//   color: $text-color-dark;
// }
.icon-menu:before {
  font-size: 150%;
  color: $text-color-dark;
}
