.workout-detail {
  margin: 2em 2em 2em 10%;
  padding-left: 1em;
  border-left: 1px solid $border-color-med;
  max-width: 30em;
  position: relative;
  h1 {
    @include set-font($main-font-regular, $font-xl);
    display: inline-block;
  }
  h2 {
    @include set-font($main-font-regular, $font-l);
    margin-top: 0.5em;
  }
  a {
    @include set-font($main-font-regular, $font-sm);
    &[href=""] {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .date {
    @include set-font($main-font-regular, $font-sm);
    margin: 0.25em 0;
  }
  .comments {
    @include set-font($main-font-regular, $font-reg);
    margin: 0.5em 0 1em 0;
  }
  .swim {
    color: $text-color-swim;
  }
  .bike {
    color: $text-color-bike;
  }
  .run {
    color: $text-color-run;
  }
  .xtrain {
    color: $text-color-xtrain;
  }
  .rest {
    color: $text-color-rest;
  }
}