.workflow-list {
  padding: 1em;
  border-bottom: 1px solid rgba($border-color-ms, 0.25);
  &:last-child {
    border-bottom: none;
  }
  &.hidden {
    button {
      @include set-font($main-font-regular, $font-sm);
      margin: 0;
    }
  }

  h1 {
    @include set-font($main-font-regular, $font-l);
    display: block;
    margin-bottom: 0.5em;
  }
  section {
    @include flex-container(inline-flex, row, wrap, flex-start, flex-start, flex-start);
    // background-color: red;
    margin: 2px;
    padding: 0.5em;
    a {
      padding: 0.25em;
      border: 1px solid $border-color-ms;
      // border-left: 1px solid $border-color-ms;
      // border-bottom: 1px solid $border-color-ms;
      border-radius: 0.25em;
      min-height: 10em;
    }
    .rating {
      color: $text-color-ms;
    }
    li {
      margin: 0.2em 0;
    }
  }

  button {
    @include flex-container(flex, column, nowrap, flex-start, flex-start, flex-start);
    @include set-font($main-font-regular, $font-sm)
    margin: 1em 0;
    padding: 0;
  }
  .btn {
    @include set-font($main-font-regular, $font-reg);
    @include button($text-color-light, $background-color-dark, $text-color-light, $background-color-ms);
    display: block;
    margin: 1em auto;
    padding: 0.5em;
    width: 25%;  
    border-color: $border-color-dark;
  }
  h2 {
    @include set-font($main-font-regular, $font-l);
    display: inline-block;
  }
  
}