.workout-list {
  padding: 1em;
  border-bottom: 1px solid rgba($border-color-med, 0.25);
  &:last-child {
    border-bottom: none;
  }
  &.hidden {
    button {
      @include set-font($main-font-regular, $font-sm);
      margin: 0;
    }
  }
  h1 {
    @include set-font($main-font-regular, $font-l);
    display: block;
    margin-bottom: 0.5em;
  }
  section {
    @include flex-container(inline-flex, column, wrap, flex-start, flex-start, flex-start);
    margin: 2px;
    padding: 0.5em;
    a {
      padding: 0.25em;
      border-left: 1px solid $border-color-med;
      border-bottom: 1px solid $border-color-med;
      border-radius: 0.25em;
      min-height: 4.5em;
    }
  }

  button {
    @include flex-container(flex, column, nowrap, flex-start, flex-start, flex-start);
    @include set-font($main-font-regular, $font-sm)
    margin: 1em 0;
    padding: 0;
  }
  .btn {
    @include set-font($main-font-regular, $font-reg);
    @include button($text-color-light, $background-color-dark, $text-color-light, $background-color-rest);
    display: block;
    margin: 1em auto;
    padding: 0.5em;
    width: 25%;  
    border-color: $border-color-dark;
  }
  h2 {
    @include set-font($main-font-regular, $font-l);
    display: inline-block;
  }
  .date {
    @include set-font($main-font-regular, $font-sm);
    margin: 0.25em 0;
  }
  .comments {
    margin: 0.5em 0 0 0;
  }
  .swim {
    color: $text-color-swim;
  }
  .bike {
    color: $text-color-bike;
  }
  .run {
    color: $text-color-run;
  }
  .xtrain {
    color: $text-color-xtrain;
  }
  .rest {
    color: $text-color-rest;
  }
}