.feature-box {
  padding: 2em 8%;
  text-align: center;
  color: $text-color-light;
  background-color: $background-color-theme;
  h1 {
    font-family: $main-font-medium;
    font-size: 200%;
    margin-bottom: 1em;
  }
  p {
    font-family: $main-font-regular;
    font-size: 100%;
    line-height: 1.7;
    margin: 0 10% 2em 10%;
  }
  .btn {
    margin: 1em;
  }
}
