<article class="workout-detail">
  <h1 ng-class="
        vm.workout.swim ? 'swim' : (
        vm.workout.run ? 'run' : (
        vm.workout.bike ? 'bike' : (
        vm.workout.xtrain ? 'xtrain' : 'rest')))">
        {{vm.workout.sport}} {{vm.workout.distance}} {{vm.workout.units}}</h1>
  <p class="date">{{vm.workout.date | date: 'MMM dd, yyyy'}}</p>
  <h2>Notes:</h2>
  <p class="comments">{{vm.workout.comments}}</p>
  <a href="#/workouts/{{vm.workout._id}}/edit">(edit this workout)</a>
  <button ng-click="vm.delete(vm.workout._id)">(delete this workout)</button>
</article>
